{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">

  <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
      <img src="{% static 'img/Servi_navbar1.png' %}" 
          alt="ServiExpress" 
          class="navbar-logo">
  </a>

  <div class="ms-auto d-flex align-items-center">
    <a href="{% url 'usuarios:login_usuario' %}" class="btn btn-outline-light btn-sm me-2">
      Iniciar sesión
    </a>
    <a href="{% url 'usuarios:registro_usuario' %}" class="btn btn-success btn-sm">
      Registrarse
    </a>
  </div>

</nav>
