{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Proveedor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/gestion_mecanicos.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/editar_mecanico.css' %}">
{% endblock %}

{% block body_class %}dashboard-body{% endblock %}
{% block main_class %}p-0 m-0 w-100{% endblock %}

{% block content %}

<div class="gm-overlay gm-form-overlay">

    <div class="gm-form-card">
        <h2 class="gm-form-title">Editar Proveedor: {{ proveedor.nombre }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="gm-form-actions">
                <a href="{% url 'proveedores:ficha_proveedores' %}"
                   class="gm-btn gm-btn-secondary">
                    Volver
                </a>

                <button type="submit" class="gm-btn gm-btn-orange">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock %}
