{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva Reserva{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reservas/crear_reserva.css' %}">
{% endblock %}

{% block content %}
<div class="mb-3">
    <a href="{% url 'usuarios:dashboard' %}" class="btn btn-secondary">
        ← Volver al Dashboard
    </a>
</div>
<div class="card shadow p-4 mt-4">
  <h3 class="mb-4 text-center">🧾 Crear nueva reserva</h3>

  <form method="post" class="row g-3">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-primary">Reservar</button>
      <a href="{% url 'reservas:mis_reservas' %}" class="btn btn-secondary ms-2">Volver</a>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/reservas/crear_reserva.js' %}"></script>
{% endblock %}
