.navbar-mecanico {
  background-color: #1c1f24 !important;
  border-bottom: 2px solid #007bff;
}

.navbar-mecanico .navbar-brand {
  color: #66b2ff !important;
  font-weight: bold;
}

.navbar-mecanico .nav-link {
  color: #ffffff !important;
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-mecanico .nav-link:hover {
  color: #66b2ff !important;
}