/* ==== NAVBAR PÚBLICO ==== */
.navbar-dark {
    height: 70px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Tamaño del logo */
.navbar-dark .navbar-brand img {
    height: 70px;
    width: auto;
    object-fit: contain;
}

/* Ajustes opcionales del navbar */
.navbar-dark .btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar-dark {
        height: auto;
        padding: 8px 0 !important;
    }

    .navbar-dark .navbar-brand img {
        height: 55px;
    }
}
