{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Mecánico{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/crear_mecanico.css' %}">
{% endblock %}

{% block body_class %}dashboard-body{% endblock %}
{% block main_class %}p-0 m-0 w-100{% endblock %}

{% block content %}

<div class="gm-form-overlay">

    <div class="gm-form-card">
        <h2 class="gm-form-title">Crear nuevo mecánico</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="gm-form-actions">
                <a href="{% url 'usuarios:gestion_mecanicos' %}" class="gm-btn gm-btn-secondary">
                    Volver
                </a>

                <button type="submit" class="gm-btn gm-btn-orange">
                    Guardar
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock %}
