{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Registro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/registro.css' %}">
{% endblock %}

{% block body_class %}login-body{% endblock %}

{% block content %}
<div class="login-wrapper">

    <div class="login-box registro-box">
        <h2 class="login-title">Crear Cuenta</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- CAMPOS DEL USUARIO -->
            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                {{ form.username }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-id-card"></i></span>
                {{ form.first_name }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-id-card"></i></span>
                {{ form.last_name }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                {{ form.email }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                {{ form.password }}
            </div>

            <!-- CAMPOS DEL MODELO USUARIO (perfil) -->
            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-id-card"></i></span>
                {{ form.rut }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                {{ form.direccion }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-city"></i></span>
                {{ form.comuna }}
            </div>

            <div class="input-group login-field mb-3">
                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                {{ form.telefono }}
            </div>

            <button class="login-btn" type="submit">Registrarme</button>

        </form>

        <p class="login-footer">
            ¿Ya tienes cuenta?
            <a href="{% url 'usuarios:login_usuario' %}">Inicia Sesión</a>
        </p>

    </div>

</div>
{% endblock %}
